<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
       
        <add name="DTO.Properties.Settings.QLSHOPQUANAOConnectionString2"
            connectionString="Data Source=LUONG\SQLEXPRESS;Initial Catalog=QLSHOPQUANAO;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>