<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DTO.Properties.Settings.QLSHOPQUANAOConnectionString"
            connectionString="Data Source=MSI-GF63-THIN11\SQLEXPRESS;Initial Catalog=QLSHOPQUANAO;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>